html,
body {
  height: 100vh;
}
body {
  background-image: url(imges/logos/beige-paintbrush-stroke-textured-background.jpg);

  font-family: "Playfair Display", serif;
}

#nav1 img {
  position: relative;
  top: 50px;
  left: 8%;
  margin: auto;
}

#nav1 ul {
  margin: auto;
}

#nav1 ul li {
  text-align: center;
  margin-top: 23%;
}

#nav1 {
  height: 150px;
}

#cover {
  background-color: #222;
  background-image: url("imges/pantings/TheCarpetMerchant.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#pantings {
  margin-top: 150px;
}
.cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#cover-mid4 {
  background-size: cover;
  height: 220%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
#cover-mid4 img {
  filter: blur(1px);
}
#wareefh {
  grid-column: 5/6;
  grid-row: 2/4;
}
#layalh {
  grid-column: 2/3;
  grid-row: 3/5;
}

@media (max-width: 576px) {
  #cover-mid4 {
    flex-direction: rows;
    display: flex;
    width: 30%;
    height: 130%;
    margin: auto;
  }
  #nav1 ul {
    background-color: #212529;
  }
  #nav1 ul li {
    margin: 2%;
  }
}

@media (max-width: 768px) {
  #cover-mid4 {
    flex-direction: rows;
    display: flex;
    width: 30%;
    height: 130%;
    margin: auto;
  }
  #nav1 ul {
    background-color: #212529;
  }
  #nav1 ul li {
    margin: 2%;
  }
}
#container {
  position: relative;
  margin: auto;
  width: 100%;
  height: 80pt;
  top: 0;
  bottom: 0;
}
#text1,
#text2 {
  position: absolute;
  width: 100%;
  display: inline-block;
  font-size: 80pt;
  text-align: center;
  user-select: none;
}

#QU {
  min-height: 160px;
  background: url("imges/pantings/LibertyLeadingthePeople.jpg") center no-repeat;
  background-size: cover;
  margin-bottom: 10%;
  margin-top: 10%;
}

.about-text {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  width: 100%;
  height: 100%;
  padding: 15%;
  text-align: center;
}
#qh3 {
  font-size: 100px;
}
section div h3 {
  font-size: 100px;
}

#forYou {
  width: 450px;
  position: relative;
  bottom: 10%;
}
/*C1*/
#painthead {
  height: 50%;
  background-image: url("imges/pantings/StarryNight.jpg");
  background-size: cover;
}
/*C2*/
#archhead {
  height: 50%;
  background-image: url("imges/architectural/gizapyramids.jpg");
  background-size: cover;
}
/*C3*/
#stathead {
  height: 50%;
  background-image: url("imges/statues/‏‏josea.jpg");
  background-size: cover;
}

#pantings2 img {
  padding: 0;

  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
}
#pantings2 a {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0;
}

#shadow {
  display: none;
  background-size: cover;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  color: black;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

#shadow text {
  position: absolute;
  color: #fff;
  top: 50%;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  justify-content: center;
}

.row {
  margin: 6px;
  overflow: hidden;
}
#hopeitwouldwork {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 5px;
}
#hopeitwouldwork div {
  padding: 0;
}

#abotushead {
  background-image: url("imges/pantings/TheSwing.jpg");
  background-size: cover;
  height: 50%;
}
#we {
  justify-content: center;
  align-items: center;
}
#text2w {
  position: relative;
  margin: 60% 5% 50% 5%;
}

#story {
  font-size: 50px;
  margin: 50px;
}
.moving {
  margin: 0 100px;
  font-size: 25px;
  transform: scale(0.94);
  animation: scale 4s forwards cubic-bezier(0.5, 1, 0.89, 1);
  animation-delay: 3s;
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}
#text span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

#text span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#text span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

#formbody {
  width: 100%;

  background-image: url("imges/pantings/formback.jpg");
  background-size: cover;
  background-position: 50% 50%;
}
#formsec {
  height: 100%;
  width: 100%;
}

#formthing {
  background-color: rgba(0, 0, 0, 0.7);
  width: 36%;
  height: 80%;
  position: relative;
  top: 10%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0px 3px 6px;
}

label {
  color: #a9927d;
  padding: 20px;
  text-align: center;
}
select {
  width: 60%;
  margin-left: 80px;
}
input {
  margin-left: 80px;
}
#Field4 {
  color: #a9927d;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 63%;
  margin-left: 80px;
}
#btn {
  position: relative;
  left: 20%;
  margin: 30px;
  width: 40%;
  overflow: hidden;
  background-color: #a9927d;
  border-radius: 8px;
}

#btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: white;
}
#team {
  height: 75%;
}

#team img {
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 4px 1px;
}
#lay {
  display: inline-block;
  position: relative;
  left: 50px;
  margin: 5px;
}
#team img:hover {
  transform: scale(0.9);
}

#team img:hover + .hide {
  display: block;
}

#team .hide {
  display: none;
}
/*FQ&A*/
#fh2 {
  font-weight: 800;
  font-size: 2.5rem;
  color: #091f2f;
}
.accordion-section .panel-default > .panel-heading {
  border: 0;
  background: none;
  padding: 0;
}
.accordion-section .panel-default .panel-title a {
  display: block;
  font-style: italic;
  font-size: 1.5rem;
}
.accordion-section .panel-default .panel-title a:after {
  font-family: "FontAwesome";
  font-style: normal;
  font-size: 3rem;
  content: "\f106";
  color: #941f20;
  float: right;
  margin-top: -12px;
}
a {
  color: #941f20;
  text-decoration: none;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
  content: "\f107";
}
.accordion-section .panel-default .panel-body {
  font-size: 1.2rem;
}
#sborder1 {
  height: 150px;
  background-image: url(imges/pantings/TheSwing.jpg);
  background-size: cover;
  width: 100%;
}
#sborder2 {
  height: 150px;
  background-image: url(imges/pantings/TheSwing.jpg);
  background-size: cover;
  width: 100%;
}

/*singl p page*/
.card {
  margin-bottom: 30px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: 0;
}
.card .card-subtitle {
  font-weight: 300;
  margin-bottom: 10px;
  color: #8898aa;
}
.table-product.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f3f8fa;
}
.table-product td {
  border-top: 0px solid #dee2e6;
  color: #728299;
}
/*singl s page*/
@media (min-width: 768px) {
  .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%;
  }
}

.carousel-multi-item-2 .card img {
  border-radius: 2px;
}

/*ZoomIn Hover Effect from https://codepen.io/alicevega/pen/vEWXGL*/
.hover-zoomin a {
  display: block;
  position: relative;
  overflow: hidden;
}
.hover-zoomin img {
  width: 100%;
  height: 250px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.hover-zoomin:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 100;
}

/*for you page*/
#coverforyou {
  background-image: url(imges/pantings/Oldguitarist.jpg);
  background-size: cover;
  height: 50%;
}
input[type="text"] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
button {
  background-color: #941f20;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

/**/
